[Desktop Entry]
Version=1.0
Name=digabi-dd-curses
Comment=Write disk image to USB memory sticks
Comment[fi]=Kirjoita levynkuva useille USB-tikuille
Exec=/usr/local/sbin/digabi-dd-curses
Terminal=true
Type=Application
Categories=System;Utility;
Icon=/usr/local/lib/digabi-dd-curses/digabi-dd-curses.png
