[Desktop Entry]
Version=1.0
Name=digabi-usb-monster
Comment=Write disk image to USB memory sticks
Comment[fi]=Kirjoita levynkuva useille USB-tikuille
Exec=/usr/local/bin/digabi-usb-monster
Terminal=true
Type=Application
Categories=System;Utility;
Icon=/usr/local/lib/digabi-dd-curses/digabi-usb-monster.png
